
<app-loader *ngIf="block" [color]="color" [mode]="mode" [value]="value" [diameter]="48">
</app-loader>
<h1 *ngIf="session?.closed" class="block"> <span class="glyphicon glyphicon-ban-circle"></span>{{'session.placeholder.closed' | translate}}</h1>
<h2 *ngIf="!session_id">{{'session.title' | translate}} - {{session?.name}} - <img (error)="fixImage($event)" style="margin-right: 5px; width: 40px; cursor: pointer;" (click)="goBack()" [src]="backImage" alt=""></h2>
<mat-tab-group [ngStyle]="{'opacity': session.closed ? '0.4' : '1'}" *ngIf="session" (selectedTabChange)="onTabChange()" [(selectedIndex)]="tabSelected">
  <mat-tab *ngIf="isAdmin">
    <ng-template mat-tab-label>
      <img (error)="fixImage($event)" style="margin-right: 5px; width: 50px" [src]="infoImage" alt="">
      {{'session-management.information' | translate}}
    </ng-template>
    <div class="tab-content">
      <app-session-form [session]="session"></app-session-form>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <img (error)="fixImage($event)" style="margin-right: 5px; width: 50px" [src]="weekdayImage" alt="">
      {{'session-management.weekday' | translate}}
    </ng-template>
    <div class="tab-content">
      <app-weekday [session]="session"></app-weekday>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <img (error)="fixImage($event)" style="margin-right: 5px; width: 40px" [src]="internImage" alt="">
      {{'session-management.intern' | translate}}
    </ng-template>
    <div class="tab-content">
      <app-intern [session]="session"></app-intern>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <img (error)="fixImage($event)" style="margin-right: 5px; width: 40px" [src]="attendanceImage" alt="">
      {{'session-management.attendance' | translate}}
    </ng-template>
    <div class="tab-content">
      <app-attendance [session]="session"></app-attendance>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <img (error)="fixImage($event)" style="margin-right: 5px; width: 40px" [src]="examImage" alt="">
      {{'session-management.exam' | translate}}
    </ng-template>
    <div class="tab-content">
      <app-exam [session]="session"></app-exam>
    </div>
  </mat-tab>
</mat-tab-group>
