<h2>{{'comment.title'| translate}}</h2>
<mat-divider></mat-divider>
<mat-card>
    <app-loader *ngIf="block" [color]="color" [mode]="mode" [value]="value" [diameter]="48">
    </app-loader>
    <form [formGroup]="commentForm">
        <div class="container">
            <button [disabled]="commentForm.invalid" class="pull-right save" (click)="onSave()" type="button" mat-button>
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
            <button class="pull-right cancel" type="button" (click)="onCancel()" mat-button>
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
            <mat-form-field appearance="outline">
                <mat-label>{{'comment.placeholder.date' | translate}}</mat-label>
                <input name="date" formControlName="date" [(ngModel)]="comment.date" matInput
                       required [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
                <mat-error *ngIf="date.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>{{'comment.placeholder.comment' | translate}}</mat-label>
                <textarea name="comments" formControlName="comments" [(ngModel)]="comment.comment" matInput
                          required></textarea>
                <mat-error *ngIf="comments.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
        </div>
    </form>
</mat-card>
