
<app-loader *ngIf="block" [color]="color" [mode]="mode" [value]="value" [diameter]="48">
</app-loader>
<h2>{{'room.title' | translate}} - {{room?.number}} - <img (error)="fixImage($event)" style="margin-right: 5px; width: 40px; cursor: pointer;" (click)="goBack()" [src]="backImage" alt=""></h2>
<mat-tab-group *ngIf="room" (selectedTabChange)="onTabChange()" [(selectedIndex)]="tabSelected">
  <mat-tab>
    <ng-template mat-tab-label>
      <img (error)="fixImage($event)" style="margin-right: 5px; width: 40px" [src]="infoImage" alt="">
      {{'room-management.information' | translate}}
    </ng-template>
    <div class="tab-content">
      <app-room-form [room]="room"></app-room-form>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <img (error)="fixImage($event)" style="margin-right: 5px; width: 40px" [src]="weekdayImage" alt=""> {{'room-management.weekday' | translate}}
    </ng-template>
    <div class="tab-content">
      <app-weekday [room]="room"></app-weekday>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <img (error)="fixImage($event)" style="margin-right: 5px; width: 40px" [src]="sessionImage" alt=""> {{'instructor-management.session' | translate}}
    </ng-template>
    <div class="tab-content">

      <div class="container">
        <mat-form-field appearance="outline">
          <mat-label>{{'attendance.placeholder.session_id' | translate}}</mat-label>
          <mat-select id="session" [(ngModel)]="session_id"
                      >
            <mat-option *ngFor="let session of sessions" [value]="session.id">
              {{session.name + ' ' + session.instructor + ' ' + session.training + ' '}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br>
      <app-session-management *ngIf="session_id" [session_id]="session_id"></app-session-management>
    </div>
  </mat-tab>
</mat-tab-group>
