@import "../../assets/sass/style";
.mat-icon {
    padding-right: 3%;
}

.mat-nav-list {
    padding-top: 0px;
}

.pv .tables td {
border-right: solid 1px;
}

h2 {
    margin-bottom: 20px;
}

#receipt {
    margin: 0;
    @page
    {
        size: auto;
        margin: 5mm 5mm 5mm 5mm;
    }
    p{
        margin-bottom: 0 !important;
        font-size: 8px;
    }
}

.print {
    background: $edit;
    color: #FFFFFF;
    width: 10%;
    z-index: 1;
}

.cancel {
    color: #FFFFFF;
    margin-right: 2px !important;
    width: 10%;
    padding: 0px 10px 0 0 !important;
    z-index: 1;
}

@media print {
    .rname {
        font-family: 'trebuchet ms', 'sans serif';
        font-weight: normal;
        font-size: 18px;
        margin: 5px 0 3px 0;
        background-image: -webkit-linear-gradient(top,#999,#666);
    }
}


