<h2>{{'pv.information' | translate}}</h2>
<app-loader *ngIf="block" [mode]="mode" [value]="value" [diameter]="48">
</app-loader>
<mat-card class="pv">
    <mat-accordion *ngIf="pvName !== 'card'">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'pv.edit' | translate}}
                </mat-panel-title>
                <mat-panel-description>
                    {{'pv.edit_description' | translate}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="container">
                <mat-form-field *ngIf="pvName !=='form' && pvName!=='diploma'" appearance="outline">
                    <mat-label>{{'pv.date' | translate}}</mat-label>
                    <input id="test" [(ngModel)]="date" matInput
                           placeholder="{{'pv.date' | translate}}" required [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>
                <div *ngIf="pvName!=='receipt' && pvName!=='form' && pvName!=='diploma'">
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>{{'pv.title' | translate}}</mat-label>
                    <input [(ngModel)]="title" matInput
                           required>
                </mat-form-field>
                </div>
                <div *ngIf="pvName !=='form' && pvName!=='card' && pvName!=='diploma'">
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>{{'pv.center' | translate}}</mat-label>
                    <input [(ngModel)]="center" matInput
                           required>
                </mat-form-field>
                </div>
                <div *ngIf="pvName==='receipt'">
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>{{'payment.title' | translate}}</mat-label>
                    <mat-select (selectionChange)="onPaymentChange()" [(ngModel)]="payment">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let payment of payments" [value]="payment">
                            {{payment.amount}} DA => {{payment.date}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
                <div *ngIf="pvName==='form' || pvName === 'diploma'">
                <mat-form-field appearance="outline">
                    <mat-label>{{'enrollment.placeholder.session_id' | translate}}</mat-label>
                    <mat-select [(ngModel)]="session" (valueChange)="onSessionNameChange($event)">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let session of sessions" [value]="session">
                            {{session.training + ' ' + session.session}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>{{'training.title' | translate}}</mat-label>
                    <input [(ngModel)]="trainingName" matInput
                           required>
                </mat-form-field>
                </div>
                <mat-form-field *ngIf="pvName==='diploma'" appearance="outline">
                    <mat-label>{{'pv.orientation' | translate}}</mat-label>
                    <mat-select [(ngModel)]="orientation">
                        <mat-option>--</mat-option>
                        <mat-option value="landscape">
                            {{'pv.landscape' | translate}}
                        </mat-option>
                        <mat-option value="portrait">
                            {{'pv.portrait' | translate}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <br>
    <button class="pull-right print" (click)="print()" mat-button>
        <span class="glyphicon glyphicon-print"></span>
    </button>
    <button class="pull-right cancel" type="button" (click)="goBack()" mat-button>
        <span class="glyphicon glyphicon-arrow-left"></span>
    </button>
    <h2>{{'pv.document' | translate}}</h2>
    <mat-card style="border: solid">
        <div id="intern" *ngIf="pvName === 'intern'">
            <p style="text-align: center; direction: rtl; unicode-bidi: embed;"><strong><span
                    style="font-size: 20.0pt; line-height: 115%; font-family: 'Traditional Arabic',serif; color: black;">{{center?.toUpperCase()}} </span></strong>
            </p>
            <p style="text-align: center; direction: rtl; unicode-bidi: embed;"><strong><u><span
                    style="font-size: 18.0pt; line-height: 115%; font-family: 'Traditional Arabic',serif;">{{'pv.student_list' | translate}} </span></u></strong>
            </p>
            <p style="text-align: center; direction: rtl; unicode-bidi: embed;"><strong><span
                    style="font-size: 18.0pt; line-height: 115%; font-family: 'Traditional Arabic',serif;">&nbsp;<u>{{'pv.group' | translate}}
                : </u></span></strong><strong><u><span
                    style="font-size: 18.0pt; line-height: 115%; font-family: 'Traditional Arabic',serif;"></span></u></strong><strong><u><span
                    style="font-size: 18.0pt; line-height: 115%; font-family: 'Traditional Arabic',serif;">{{session?.name}}</span></u></strong><strong><span
                    style="font-size: 18.0pt; line-height: 115%; font-family: 'Traditional Arabic',serif;">&nbsp; </span></strong>
            </p>
            <p style="text-align: center; direction: rtl; unicode-bidi: embed;"><strong><span
                    style="font-size: 18.0pt; line-height: 115%; font-family: 'Traditional Arabic',serif;">&nbsp;<u>{{'pv.instructor' | translate}}
                : </u></span></strong><strong><u><span
                    style="font-size: 18.0pt; line-height: 115%; font-family: 'Traditional Arabic',serif;"></span></u></strong><strong><u><span
                    style="font-size: 18.0pt; line-height: 115%; font-family: 'Traditional Arabic',serif;">{{instructor?.name}}</span></u></strong><strong><span
                    style="font-size: 18.0pt; line-height: 115%; font-family: 'Traditional Arabic',serif;">&nbsp; </span></strong>
            </p>
            <p style="text-align: center; direction: rtl; unicode-bidi: embed;"><strong><span
                    style="font-size: 18.0pt; line-height: 115%; font-family: 'Traditional Arabic',serif;">&nbsp;<u>{{'pv.training' | translate}}
                : </u></span></strong><strong><u><span
                    style="font-size: 18.0pt; line-height: 115%; font-family: 'Traditional Arabic',serif;"></span></u></strong><strong><u><span
                    style="font-size: 18.0pt; line-height: 115%; font-family: 'Traditional Arabic',serif;">{{training?.name}}</span></u></strong><strong><span
                    style="font-size: 18.0pt; line-height: 115%; font-family: 'Traditional Arabic',serif;">&nbsp; </span></strong>
            </p>
            <p style="direction: rtl; unicode-bidi: embed; text-align: center;"><strong><span
                    style="font-size: 18.0pt; line-height: 115%; font-family: 'Traditional Arabic',serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></strong>
            </p>
            <table class="tables"
                   style="border-collapse: collapse; border: none; margin-left: 4.8pt; margin-right: 4.8pt;"
                   width="0">
                <tbody>
                <tr>
                    <td style="width: 28.4pt; border: solid black 1.0pt; background: #D9D9D9; padding: 0cm 5.4pt 0cm 5.4pt;"
                        width="38">
                        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span
                                style="font-size: 12.0pt; font-family: 'Traditional Arabic',serif;">{{'pv.number' | translate}}</span></strong>
                        </p>
                    </td>
                    <td style="width: 150.15pt; border: solid black 1.0pt;  background: #D9D9D9; padding: 0cm 5.4pt 0cm 5.4pt;"
                        width="123">
                        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span
                                style="font-size: 12.0pt; font-family: 'Traditional Arabic',serif;">{{'intern.placeholder.name' | translate}}</span></strong>
                        </p>
                    </td>
                    <td style="width: 70.9pt; border: solid black 1.0pt;  background: #D9D9D9; padding: 0cm 5.4pt 0cm 5.4pt;"
                        width="95">
                        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span
                                style="font-size: 12.0pt; font-family: 'Traditional Arabic',serif;">{{'intern.placeholder.phone' | translate}}</span></strong>
                        </p>
                    </td>
                    <td *ngFor="let i of attendances"
                        style="width: 92.15pt; border: solid black 1.0pt;  background: #D9D9D9; padding: 0cm 5.4pt 0cm 5.4pt;"
                        width="123">
                        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span
                                style="font-size: 12.0pt; font-family: 'Traditional Arabic',serif;">{{i.date}}</span></strong>
                        </p>
                    </td>
                    <td style="width: 70.9pt; border: solid black 1.0pt;  background: #D9D9D9; padding: 0cm 5.4pt 0cm 5.4pt;"
                        width="95">
                        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span
                                style="font-size: 12.0pt; font-family: 'Traditional Arabic',serif;">P/A</span></strong>
                        </p>
                    </td>
                </tr>
                <tr *ngFor="let intern of interns; let i = index;" style="height: 23.15pt;">
                    <td style="width: 28.4pt; border: solid black 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 23.15pt;"
                        width="38">
                        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span
                                style="font-size: 10.0pt; font-family: 'Traditional Arabic',serif;">{{i + 1}}</span></strong>
                        </p>
                    </td>
                    <td style="width: 92.15pt; border-top: none; border-left: solid black 1.0pt; border-bottom: solid black 1.0pt;  padding: 0cm 5.4pt 0cm 5.4pt; height: 23.15pt;"
                        width="123">
                        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span
                                style="font-size: 12.0pt; font-family: 'Traditional Arabic',serif;">{{intern?.name}}</span></strong>
                        </p>
                    </td>
                    <td style="width: 70.9pt; border-top: none; border-left: solid black 1.0pt; border-bottom: solid black 1.0pt;  padding: 0cm 5.4pt 0cm 5.4pt; height: 23.15pt;"
                        width="95">
                        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span
                                style="font-size: 12.0pt; font-family: 'Traditional Arabic',serif;">0{{intern.phone}}</span></strong>
                        </p>
                    </td>
                    <td *ngFor="let i of attendances; let x = index"
                        style="border-right: solid 1px; width: 70.9pt; border-top: none; border-left: solid black 1.0pt; border-bottom: solid black 1.0pt;  padding: 0cm 5.4pt 0cm 5.4pt; height: 23.15pt;"
                        width="95">
                        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span
                                style="font-size: 12.0pt; font-family: 'Traditional Arabic',serif;">{{intern['attendances'][x] ?
                            intern['attendances'][x].present === 1 ? 'P' :
                                intern['attendances'][x].present === 0 ? 'A' : 'N/O' : 'N/O'}}</span></strong>
                        </p>
                    </td>
                    <td style="border-right: solid 1px; width: 70.9pt; border-top: none; border-left: solid black 1.0pt; border-bottom: solid black 1.0pt;  padding: 0cm 5.4pt 0cm 5.4pt; height: 23.15pt;"
                        width="95">
                        <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span
                                style="font-size: 12.0pt; font-family: 'Traditional Arabic',serif;"></span></strong>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
            <p style="text-align: right; direction: rtl; unicode-bidi: embed;"><strong><span
                    style="font-size: 14.0pt; line-height: 115%; font-family: 'Simplified Arabic',serif;">&nbsp;</span></strong>
            </p>
            <p style="text-align: right; direction: rtl; unicode-bidi: embed;"><strong><span
                    style="font-size: 14.0pt; line-height: 115%; font-family: 'Simplified Arabic',serif;">&nbsp;</span></strong>
            </p>
            <p style="margin-bottom: .0001pt; text-align: justify; line-height: normal; direction: rtl; unicode-bidi: embed;">
                <span style="font-size: 16.0pt; font-family: 'Traditional Arabic',serif;">&nbsp;</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; line-height: normal; direction: rtl; unicode-bidi: embed;">
                <strong><span style="font-size: 16.0pt; font-family: 'Traditional Arabic',serif;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{date?.toLocaleDateString('fr-FR')}} </span></strong>
            </p>
        </div>
        <div style="margin: 0" id="receipt" *ngIf="pvName === 'receipt' && payment">
            <div style="width: 100%; text-align: left; margin-left: 5%">
                <h5 style="margin: 0">{{center}}</h5>
                <h2 style="margin: 0">{{title}}</h2>
                <h5 style="margin: 0">{{payment_code}}</h5>
            </div>
            <table>
                <tbody>
                <tr>
                    <td>
                        <h5 style="margin: 0"><strong>Date:</strong></h5>
                    </td>
                    <td>
                        <h5 style="margin: 0">{{date.toLocaleDateString('fr-FR')}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 style="margin: 0"><strong>Nom:</strong></h5>
                    </td>
                    <td>
                        <h5 style="margin: 0">{{intern?.name}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 style="margin: 0"><strong>Formation:</strong></h5>
                    </td>
                    <td>
                        <h5 style="margin: 0">{{payment['session_name']}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 style="margin: 0"><strong>Mois:</strong></h5>
                    </td>
                    <td>
                        <h5 style="margin: 0">{{payment.month}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 style="margin: 0"><strong>Nature:</strong></h5>
                    </td>
                    <td>
                        <h5 style="margin: 0">{{payment.comment}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 style="margin: 0"><strong>Montant:</strong></h5>
                    </td>
                    <td>
                        <h5 style="margin: 0">{{payment.amount}} DA</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 style="margin: 0"><strong>Solde:</strong></h5>
                    </td>
                    <td>
                        <h5 style="margin: 0">{{intern.sold}} DA</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 style="margin: 0"><strong>Reste:</strong></h5>
                    </td>
                    <td>
                        <h5 style="margin: 0">{{payment.rest ? payment.rest : payment.rest === 0 ? 0 : '?'}} DA</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 style="margin: 0"><strong>-------</strong></h5>
                    </td>
                    <td>
                        <h5 style="margin: 0">--------</h5>
                    </td>

                </tr>
                <tr>
                    <td>
                        <h5 style="margin: 0"><strong>Total:</strong></h5>
                    </td>
                    <td>
                        <h5 style="margin: 0">{{payment.amount}} DA</h5>
                    </td>
                </tr>
                </tbody>
            </table>
            <h1 *ngIf="payment.error === 1" style="color: red">**** Erreur ****</h1>
            <p>{{payment.username}}</p>
        </div>
        <div id="card" *ngIf="pvName === 'card'">
            <div *ngFor="let i of [0,2,4,6]">
                <div style="display: flex; margin-bottom: 5px">
                    <div style="    width: 330px;    height: 200px;    border: 1px dashed;    padding: 5px; margin-right: 10px">
                        <div [ngStyle]="{display: !interns[i] ? 'none' : ''}">
                            <div style="display:flex;align-items: center; border: 1px solid; border-radius: 5px; padding: 5px">
                                <img src="{{logo}}" width=30px height=30px alt="">
                                <div style="flex-grow: 1; text-align: center;">
                                    <p style="margin: 0; font-size: 1.5rem; ">{{center}}</p>
                                    <p style="margin:0; font-size:0.5rem">{{
                                        (address ? address + ' - ' : '') +
                                        (phone1 ? phone1 + ' - ' : '') +
                                        (phone2 ? phone2 + ' - ' : '') +
                                        (email ? email + ' - ' : '') +
                                        (website || '')}}</p>
                                </div>
                            </div>
                            <div style="text-align: center;"><p style="margin: 0">{{'pv.cardTitle' | translate}}</p>
                            </div>
                            <div style="display: flex; align-items: center;">

                                <div style="flex-grow:1">
                                    <!--                                    <p style="margin:10px"><strong>{{'pv.studentId' |translate}}-->
                                    <!--                                        : </strong>{{interns[i]?.id}}-->
                                    <!--                                    </p>-->
                                    <p style="margin:10px"><strong>{{'pv.name' | translate}}
                                        : </strong>{{interns[i]?.name}}
                                    </p>
                                    <p style="margin: 0 10px"><strong>{{'pv.phone' | translate}}
                                        : </strong>0{{interns[i]?.phone}}
                                    </p>
                                    <img style="width: 80%;    height: 50px;   margin: 0;" id="barcode{{i}}"
                                         alt="">
                                </div>
                                <img style="border-radius: 5px; margin:10px"
                                     [src]="interns[i]?.photo | safe" width=100px height=100px
                                     alt="">
                            </div>
                        </div>
                    </div>
                    <div style="    width: 330px;    height: 200px;    border: 1px dashed;    padding: 5px;">
                        <div [ngStyle]="{display: !interns[i+1] ? 'none' : ''}">
                            <div style="display:flex;align-items: center; border: 1px solid; border-radius: 5px; padding: 5px">
                                <img src="{{logo}}" width=30px height=30px alt="">
                                <div style="flex-grow: 1; text-align: center;">
                                    <p style="margin: 0; font-size: 1.5rem; ">{{center}}</p>
                                    <p style="margin:0; font-size:0.5rem">{{
                                        (address ? address + ' - ' : '') +
                                        (phone1 ? phone1 + ' - ' : '') +
                                        (phone2 ? phone2 + ' - ' : '') +
                                        (email ? email + ' - ' : '') +
                                        (website || '')}}</p>
                                </div>
                            </div>
                            <div style="text-align: center;"><p style="margin: 0">{{'pv.cardTitle' | translate}}</p>
                            </div>
                            <div style="display: flex; align-items: center;">

                                <div style="flex-grow:1">
                                    <!--                                    <p style="margin:10px"><strong>{{'pv.studentId' |translate}}-->
                                    <!--                                        : </strong>{{interns[i + 1]?.id}}-->
                                    <!--                                    </p>-->
                                    <p style="margin:10px"><strong>{{'pv.name' | translate}}
                                        : </strong>{{interns[i + 1]?.name}}</p>
                                    <p style="margin: 0 10px"><strong>{{'pv.phone' | translate}}
                                        : </strong>0{{interns[i + 1]?.phone}}
                                    </p>
                                    <img style="width: 80%;    height: 50px;   margin: 0;" id="barcode{{i+1}}"
                                         alt="">
                                </div>
                                <img style="border-radius: 5px; margin:10px"
                                     [src]="interns[i+1]?.photo | safe" width=100px height=100px
                                     alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <p></p>
            </div>
        </div>
        <div id="form" *ngIf="pvName === 'form'">
            <p style="text-align: center;">&nbsp;</p>
            <p style="text-align: center;"><img src="{{logo}}" alt="" width="91" height="91"/></p>
            <p style="text-align: center;"><u><span
                    style="font-size: 28.0pt; line-height: 107%;">{{'pv.form' | translate}}</span></u></p>
            <p style="text-align: center;"><span style="font-size: 28.0pt; line-height: 107%;">&nbsp;</span><img
                    style="float: right;" [src]="intern?.photo | safe" alt="" width="92" height="92"/></p>
            <p style="text-align: center;"><span style="font-size: 28.0pt; line-height: 107%;">&nbsp;</span><img
                    class="pull-right" style="clear: both; margin-top: 15px;" id="barcode2"/></p>
            <p style="line-height: 150%;"><span style="font-size: 18.0pt; line-height: 150%;"><strong>{{'pv.name' | translate}}</strong>
                :   {{intern?.name}}</span></p>
            <p style="line-height: 150%;"><span style="font-size: 18.0pt; line-height: 150%;"><strong>{{'pv.birth' | translate}}</strong>&nbsp;:  {{getDate(intern?.birth)}}</span>
            </p>
            <p style="line-height: 150%;"><span style="font-size: 18.0pt; line-height: 150%;"><strong>{{'pv.phone' | translate}}</strong>&nbsp;:   0{{intern?.phone}}</span>
            </p>
            <p style="line-height: 150%;"><span
                    style="font-size: 18.0pt; line-height: 150%;"><strong>{{'pv.name_arabic' | translate}}</strong>&nbsp;:   {{intern?.name_arabic}}</span>
            </p>
            <p style="line-height: 150%;"><span
                    style="font-size: 18.0pt; line-height: 150%;"><strong>{{'pv.scholar' | translate}}</strong>&nbsp;:   {{'intern.placeholder.' + intern?.scholar | translate}}</span>
            </p>
            <p style="line-height: 150%;"><span
                    style="font-size: 18.0pt; line-height: 150%;"><strong>{{'pv.training' | translate}}</strong>&nbsp;:   {{trainingName}}</span>
            </p>
            <p style="line-height: 150%;"><span
                    style="font-size: 18.0pt; line-height: 150%;"><strong>{{'pv.session' | translate}}</strong>&nbsp;:   {{session?.session}}</span>
            </p>
        </div>
        <div *ngIf="pvName === 'diploma'">
            <div id="diploma" *ngIf="orientation=== 'landscape'"  style="width: 100vw; height: 100vh; -webkit-transform: rotate(-90deg); margin-top: 10%">
                <p style="text-align: center;">&nbsp;</p>
                <div style="padding:20px; text-align:center;">
                    <div style="padding:20px; text-align:center;">
                        <p style="text-align: center; margin-bottom: 2rem;"><img src="{{logo}}" alt="" width="300" height="300"/></p>
                        <span style="font-size:70px; font-weight:bold">{{'document.diplomaTitle' | translate}}</span>
                        <br><br>
                        <span style="font-size:35px"><i>{{'document.diplomaCertify' | translate}}</i></span>
                        <br><br>
                        <span style="font-size:40px"><b>{{intern?.name}}</b></span><br/><br/>
                        <span style="font-size:35px"><i>{{'document.diplomaCompleted' | translate}}</i></span>
                        <br/><br/>
                        <span style="font-size:40px">{{trainingName}}</span> <br/><br/>
                        <span style="font-size:35px"><i>{{'document.diplomaDated' | translate}}</i></span><br>
                        <span style="font-size:40px">{{dateDiploma}}</span>
                    </div>
                </div>
            </div>
            <div id="diploma" *ngIf="orientation=== 'portrait'"  style="width: 100vw; height: 100vh;">
                <p style="text-align: center;">&nbsp;</p>
                <div style="padding:20px; text-align:center;">
                    <div style="padding:20px; text-align:center;">
                        <p style="text-align: center; margin-bottom: 2rem;"><img src="{{logo}}" alt="" width="300" height="300"/></p>
                        <span style="font-size:70px; font-weight:bold">{{'document.diplomaTitle' | translate}}</span>
                        <br><br>
                        <span style="font-size:35px"><i>{{'document.diplomaCertify' | translate}}</i></span>
                        <br><br>
                        <span style="font-size:40px"><b>{{intern?.name}}</b></span><br/><br/>
                        <span style="font-size:35px"><i>{{'document.diplomaCompleted' | translate}}</i></span>
                        <br/><br/>
                        <span style="font-size:40px">{{trainingName}}</span> <br/><br/>
                        <span style="font-size:35px"><i>{{'document.diplomaDated' | translate}}</i></span><br>
                        <span style="font-size:40px">{{dateDiploma}}</span>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</mat-card>
