<h2>{{'administration.user_management'| translate}}  <img (error)="fixImage($event)" style="margin-right: 5px; width: 40px" (click)="goBack()" [src]="backImage" alt=""></h2>
<mat-divider></mat-divider>
<mat-card>
  <app-loader *ngIf="block" [color]="color" [mode]="mode" [value]="value" [diameter]="48">
  </app-loader>
  <app-abstract-table [page]="'user'" (deleteAll)="ngOnInit()" (sortChange)="sortOnChange($event)" (filter)="onFilter($event)" (pageChange)="onPageChange($event)" [setting]="setting" [data]="data" (editRow)="onEditRow($event)" (deleteRow)="onRowDeleted($event)" (addRow)="onAddRow()"></app-abstract-table>
</mat-card>
