.save {
  color: #FFFFFF;
  width: 12%;
}

.cancel {
  color: #FFFFFF;
  margin-right: 2px !important;
  width: 10%;
  padding: 0px 10px 0 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-prefix{
  top: 0 !important;
  margin-right: 5px;
}

.print {
  margin-right: 2px !important;
  width: 10%;
  padding: 0px 10px 0 0 !important;
}

.container .mat-form-field {
  width: 50%;
  font-size: 14px;
}

.phone {
  display: flex;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

video {
  width: 170px !important;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}


//.mat-form-field-appearance-legacy .mat-form-field-infix {
//  padding: .4375em 5px;
//  border-left: solid 6px rgb(0, 176, 255);
//  background: rgba(0, 123, 255, 0.14);
//}
