<div style="display: flex">
<h2>{{'inbox.title'| translate}} </h2>
<button (click)="newMessage()" class="newMessage" mat-button><span class="glyphicon glyphicon-plus"></span></button>
</div>
<mat-divider></mat-divider>
<mat-nav-list>
  <mat-nav-list><a mat-list-item routerLink="/messages/inbox/inbox"><span class="glyphicon glyphicon-import"></span>{{'inbox.inbox' | translate}}</a></mat-nav-list>
  <mat-nav-list><a mat-list-item routerLink="/messages/inbox/sent"><span class="glyphicon glyphicon-export"></span>{{'inbox.sent' | translate}}</a></mat-nav-list>
  <!--<mat-nav-list><a mat-list-item routerLink="/messages/inbox/deleted"><span class="glyphicon glyphicon-remove"></span>{{'inbox.deleted' | translate}}</a></mat-nav-list>-->
</mat-nav-list>

