@import "../../assets/sass/style";
.mat-icon {
    padding-right: 3%;
}

.newMessage {
    background: $save;
    color: white;
    height: 50%;
    margin: 15px 20px !important;
    //float: right;
}

.mat-nav-list {
    padding-top: 0px;
}

h2 {
    margin-top: 20px !important;
}
