<h2>{{'payment.title'| translate}} - {{payment?.amount}} -</h2>
<mat-divider></mat-divider>
<mat-card>
    <app-loader *ngIf="block" [color]="color" [mode]="mode" [value]="value" [diameter]="48">
    </app-loader>
    <mat-checkbox style="color: red; font-size: 1.5rem" [(ngModel)]="offer">{{'payment.placeholder.offer' | translate}}</mat-checkbox>
    <form [formGroup]="paymentForm">
        <div class="container">
            <button [disabled]="paymentForm.invalid || !internSelected || !trainingSelected" class="pull-right save" (click)="onSave()" type="button" mat-button>
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
            <button class="pull-right cancel" type="button" (click)="onCancel()" mat-button>
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <mat-form-field>
                <input name="amount" type="number" (blur)="parseAmount($event.target.value)" formControlName="amount"
                       [ngModel]="payment.amount" matInput
                       placeholder="{{'payment.placeholder.amount' | translate}}" required autofocus>
                <span matSuffix>DA</span>
                <mat-error *ngIf="amount.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input name="date" formControlName="date" [(ngModel)]="payment.date" matInput
                       placeholder="{{'payment.placeholder.date' | translate}}" required [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
                <mat-error *ngIf="date.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input name="comment" formControlName="comment" [(ngModel)]="payment.comment" matInput
                       placeholder="{{'payment.placeholder.comment' | translate}}" >
                <mat-error *ngIf="comment.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field *ngIf="!isOnEdit && !express" class="example-full-width">
                <input name="training" formControlName="training" matInput
                       (keyup)="trainingOnChange($event)" [matAutocomplete]="auto"
                       placeholder="{{'payment.placeholder.training' | translate}}">
                <span matSuffix class="glyphicon glyphicon-search"></span>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnTraining.bind(this)"
                                  (optionSelected)="trainingOnSelect($event.option.value)">
                    <mat-option *ngFor="let training of trainingsFiltered" [value]="training">
                        {{training?.name}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="training.invalid || !trainingSelected">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <div *ngIf="isOnEdit || express">
                <mat-label>{{'payment.placeholder.training' | translate}}</mat-label>
                <h2 style="margin: 0" *ngIf="isOnEdit">{{payment?.training}}</h2>
                <h2 style="margin: 0" *ngIf="express">{{trainingSelected?.name}}</h2>
            </div>
            <br>
            <mat-form-field>
                <input name="month" formControlName="month" [(ngModel)]="payment.month" matInput
                       placeholder="{{'payment.placeholder.month' | translate}}" >
                <mat-error *ngIf="month.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field *ngIf="!isOnEdit && !express" class="example-full-width">
                <input name="intern" formControlName="intern" matInput
                       (keyup)="internOnChange($event)" matInput [matAutocomplete]="auto"
                       placeholder="{{'payment.placeholder.intern_id' | translate}}" required>
                <span matSuffix class="glyphicon glyphicon-search"></span>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnIntern.bind(this)"
                                  (optionSelected)="internOnSelect($event.option.value)">
                    <mat-option *ngFor="let intern of internsFiltered" [value]="intern">
                        {{intern?.name}} <span style="color: red">{{intern.sold}} DA</span>
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="intern.invalid || !internSelected">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <div *ngIf="isOnEdit || express">
                <mat-label>{{'payment.placeholder.intern_id' | translate}}</mat-label>
                <h2 style="margin: 0">{{internSelected?.name}}</h2>
            </div>
        </div>
    </form>
</mat-card>
