<h2>{{'payment.title'| translate}} - {{payment?.amount}} -</h2>
<mat-divider></mat-divider>
<mat-card>
    <app-loader *ngIf="block" [color]="color" [mode]="mode" [value]="value" [diameter]="48">
    </app-loader>
    <form [formGroup]="paymentForm">
        <div class="container">
            <button [disabled]="paymentForm.invalid || !internSelected" class="pull-right save" (click)="onSave()" type="button" mat-button>
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
            <button class="pull-right cancel" type="button" (click)="onCancel()" mat-button>
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
            <mat-form-field appearance="outline">
                <mat-label>{{'payment.placeholder.amount' | translate}}</mat-label>
                <input name="amount" type="number" (blur)="parseAmount($event.target['value'])" formControlName="amount"
                       [ngModel]="payment.amount" matInput
                       required autofocus>
                <span matSuffix>DA</span>
                <mat-error *ngIf="amount.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>{{'payment.placeholder.date' | translate}}</mat-label>
                <input name="date" formControlName="date" [(ngModel)]="payment.date" matInput
                       required [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
                <mat-error *ngIf="date.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>{{'payment.placeholder.intern_id' | translate}}</mat-label>
                <input name="intern" formControlName="intern" matInput [ngModel]="internSelected"
                       (keyup)="internOnChange($event)" matInput [matAutocomplete]="auto"
                       required>
                <span matSuffix class="glyphicon glyphicon-search"></span>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnIntern.bind(this)"
                                  (optionSelected)="internOnSelect($event.option.value)">
                    <mat-option *ngFor="let intern of internsFiltered" [value]="intern">
                        {{intern?.name}} <span [ngStyle]="{color: intern.sold > 0 ? 'red' : 'green'}">{{intern.sold}} DA</span>
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="intern.invalid || !internSelected">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>{{'payment.placeholder.comment' | translate}}</mat-label>
                <textarea name="comment" formControlName="comment" [(ngModel)]="payment.comment" matInput
                          placeholder="{{'payment.placeholder.comment' | translate}}" ></textarea>
                <mat-error *ngIf="comment.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>{{'payment.placeholder.charge' | translate}}</mat-label>
                <mat-select formControlName="charge" (selectionChange)="onChargeChange($event.value)"
                            name="charge" required>
                    <mat-option value="">----</mat-option>
                    <mat-option value="-1">{{'charge.noCharge' | translate}}</mat-option>
                    <mat-option *ngFor="let charge of charges" [value]="charge.id">
                        {{charge['session_name'] || ''}} <span [ngStyle]="{color: charge.rest > 0 ? 'red' : 'green'}">{{charge.rest}} DA</span> {{' ' + getDate(charge.date)}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="charge.hasError('required')">{{'messages.field_required_error' | translate}}
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>{{'payment.placeholder.month' | translate}}</mat-label>
                <input name="month" formControlName="month" [(ngModel)]="payment.month" matInput
                       >
                <mat-error *ngIf="month.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
        </div>
    </form>
    <div class="container">
        <p></p>
<!--        <br>-->
<!--        <mat-checkbox *ngIf="!isOnEdit" style="font-size: 1.5rem" [(ngModel)]="offer">{{'payment.placeholder.offer' | translate}}</mat-checkbox>-->
        <br>
        <mat-checkbox *ngIf="isOnEdit" style="font-size: 1.5rem" [(ngModel)]="payment.error">{{'payment.placeholder.error' | translate}}</mat-checkbox>
    </div>
</mat-card>
