<p-toast></p-toast>
<!--<p-messages></p-messages>-->
<div class="layout-wrapper">
    <app-nav (menu)="toggleMenu()"></app-nav>
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side" [opened]="isSideNavOpened" class="example-sidenav"
                     [fixedInViewport]="options.fixed" [fixedTopGap]="options.top"
                     [fixedBottomGap]="options.bottom">
            <mat-nav-list (onmouseenter)="menuMouseEnter($event)" (onmouseleave)="menuMouseLeave($event)" class="navList">
                <a routerLinkActive="active-link" mat-list-item matTooltip="{{'menu.enrollment' | translate}}"  matTooltipPosition="after" *ngIf="!isInstructor && !isIntern && !isParent" class="nav_item" routerLink="/enrollment">
<!--                    <span class="glyphicon glyphicon-asterisk"></span>-->
                    <img (error)="fixImage($event)" style="margin-right: 5px; width: 50px" [src]="enrollmentImage" alt="">
                    <span *ngIf="iconsShown">{{'menu.enrollment' | translate}}</span>
                </a>
                <a routerLinkActive="active-link" mat-list-item matTooltip="{{(isIntern ? 'menu.account' : 'menu.intern') | translate}}"  matTooltipPosition="after" class="nav_item" *ngIf="!isInstructor" routerLink="/intern">
<!--                    <span class="glyphicon glyphicon-user"></span>-->
                    <img (error)="fixImage($event)" style="margin-right: 5px; width: 50px" [src]="internImage" alt="">
                    <span *ngIf="iconsShown">{{(isIntern ? 'menu.account' : 'menu.intern') | translate}}</span>
                </a>
                <a routerLinkActive="active-link" mat-list-item matTooltip="{{'menu.visitors' | translate}}"  matTooltipPosition="after" class="nav_item" *ngIf="!isInstructor && !isIntern && !isParent" routerLink="/visitor">
<!--                    <span class="glyphicon glyphicon-sort"></span>-->
                    <img (error)="fixImage($event)" style="margin-right: 5px; width: 50px" [src]="visitorsImage" alt="">
                    <span *ngIf="iconsShown">{{'menu.visitors' | translate}}</span>
                </a>
                <a routerLinkActive="active-link" mat-list-item matTooltip="{{(isInstructor ? 'menu.account' : 'menu.instructor') | translate}}"  matTooltipPosition="after" class="nav_item" *ngIf="!isIntern && !isParent" routerLink="/instructor">
<!--                    <span class="glyphicon glyphicon-briefcase"></span>-->
                    <img (error)="fixImage($event)" style="margin-right: 5px; width: 50px" [src]="instructorImage" alt="">
                    <span *ngIf="iconsShown">{{(isInstructor ? 'menu.account' : 'menu.instructor') | translate}}</span>
                </a>
                <a routerLinkActive="active-link" mat-list-item matTooltip="{{'menu.inbox' | translate}}"  matTooltipPosition="after" class="nav_item" routerLink="/messages">
<!--                    <span class="glyphicon glyphicon-envelope"></span>-->
                    <img (error)="fixImage($event)" style="margin-right: 5px; width: 50px" [src]="inboxImage" alt="">
                    <span *ngIf="iconsShown">{{'menu.inbox' | translate}}</span>
                </a>
                <a routerLinkActive="active-link" mat-list-item matTooltip="{{'menu.session' | translate}}"  matTooltipPosition="after" class="nav_item" *ngIf="!isIntern && !isParent" routerLink="/session">
<!--                    <span class="glyphicon glyphicon-th"></span>-->
                    <img (error)="fixImage($event)" style="margin-right: 5px; width: 50px" [src]="sessionImage" alt="">
                    <span *ngIf="iconsShown">{{'menu.session' | translate}}</span>
                </a>
                <a routerLinkActive="active-link" mat-list-item matTooltip="{{'menu.training' | translate}}"  matTooltipPosition="after" class="nav_item" *ngIf="!isInstructor && !isIntern && !isParent" routerLink="/training">
<!--                    <span class="glyphicon glyphicon-education"></span>-->
                    <img (error)="fixImage($event)" style="margin-right: 5px; width: 50px" [src]="trainingImage" alt="">
                    <span *ngIf="iconsShown">{{'menu.training' | translate}}</span>
                </a>
                <a routerLinkActive="active-link" mat-list-item matTooltip="{{'menu.weekday' | translate}}"  matTooltipPosition="after" class="nav_item" *ngIf="!isIntern && !isParent" routerLink="/weekday">
<!--                    <span class="glyphicon glyphicon-calendar"></span>-->
                    <img (error)="fixImage($event)" style="margin-right: 5px; width: 50px" [src]="weekdayImage" alt="">
                    <span *ngIf="iconsShown">{{'menu.weekday' | translate}}</span>
                </a>
<!--                <a routerLinkActive="active-link" mat-list-item matTooltip="{{'menu.exam' | translate}}"  matTooltipPosition="after" class="nav_item" *ngIf="!isIntern && !isParent" routerLink="/exam">-->
<!--&lt;!&ndash;                    <span class="glyphicon glyphicon-pencil"></span>&ndash;&gt;-->
<!--                    <img (error)="fixImage($event)" style="margin-right: 5px; width: 50px" [src]="examImage" alt="">-->
<!--                    <span *ngIf="iconsShown">{{'menu.exam' | translate}}</span>-->
<!--                </a>-->
                <a routerLinkActive="active-link" mat-list-item matTooltip="{{'menu.room' | translate}}"  matTooltipPosition="after" class="nav_item" *ngIf="!isInstructor && !isIntern && !isParent" routerLink="/room">
<!--                    <span class="glyphicon glyphicon-modal-window"></span>-->
                    <img (error)="fixImage($event)" style="margin-right: 5px; width: 50px" [src]="roomImage" alt="">
                    <span *ngIf="iconsShown">{{'menu.room' | translate}}</span>
                </a>
                <a routerLinkActive="active-link" mat-list-item matTooltip="{{'menu.attendance' | translate}}"  matTooltipPosition="after" class="nav_item" *ngIf="!isIntern && !isParent" routerLink="/attendance">
<!--                    <span class="glyphicon glyphicon-ok-circle"></span>-->
                    <img (error)="fixImage($event)" style="margin-right: 5px; width: 50px" [src]="attendanceImage" alt="">
                    <span *ngIf="iconsShown">{{'menu.attendance' | translate}}</span>
                </a>
                <a routerLinkActive="active-link" mat-list-item matTooltip="{{'menu.assessment' | translate}}"  matTooltipPosition="after" class="nav_item" *ngIf="!isIntern && !isParent" routerLink="/assessment">
                    <!--                    <span class="glyphicon glyphicon-ok-circle"></span>-->
                    <img (error)="fixImage($event)" style="margin-right: 5px; width: 50px" [src]="testImage" alt="">
                    <span *ngIf="iconsShown">{{'menu.assessment' | translate}}</span>
                </a>
                <a routerLinkActive="active-link" mat-list-item matTooltip="{{'menu.transport' | translate}}"  matTooltipPosition="after" class="nav_item" *ngIf="!isInstructor && !isIntern && !isParent" routerLink="/commuting">
                    <!--                    <span class="glyphicon glyphicon glyphicon-stats"></span>-->
                    <img (error)="fixImage($event)" style="margin-right: 5px; width: 50px" [src]="carImage" alt="">
                    <span *ngIf="iconsShown">{{'menu.transport' | translate}}</span>
                </a>
                <a routerLinkActive="active-link" mat-list-item matTooltip="{{'menu.payment' | translate}}"  matTooltipPosition="after" class="nav_item" *ngIf="!isInstructor && !isIntern && !isParent" routerLink="/payments">
<!--                    <span class="glyphicon glyphicon-usd"></span>-->
                    <img (error)="fixImage($event)" style="margin-right: 5px; width: 50px" [src]="paymentImage" alt="">
                    <span *ngIf="iconsShown">{{'menu.payment' | translate}}</span>
                </a>
                <a routerLinkActive="active-link" mat-list-item matTooltip="{{'menu.register' | translate}}"  matTooltipPosition="after" class="nav_item" *ngIf="!isInstructor && !isIntern && !isParent" routerLink="/register">
<!--                    <span class="glyphicon glyphicon-shopping-cart"></span>-->
                    <img (error)="fixImage($event)" style="margin-right: 5px; width: 50px" [src]="registerImage" alt="">
                    <span *ngIf="iconsShown">{{'menu.register' | translate}}</span>
                </a>
                <a routerLinkActive="active-link" mat-list-item matTooltip="{{'menu.document' | translate}}"  matTooltipPosition="after" class="nav_item" *ngIf="!isInstructor && !isIntern && !isParent" routerLink="/document">
<!--                    <span class="glyphicon glyphicon-list-alt"></span>-->
                    <img (error)="fixImage($event)" style="margin-right: 5px; width: 50px" [src]="documentImage" alt="">
                    <span *ngIf="iconsShown">{{'menu.document' | translate}}</span>
                </a>
                <a routerLinkActive="active-link" mat-list-item matTooltip="{{'menu.result' | translate}}"  matTooltipPosition="after" class="nav_item" *ngIf="user.role === 'admin'" routerLink="/result">
                    <!--                    <span class="glyphicon glyphicon glyphicon-stats"></span>-->
                    <img (error)="fixImage($event)" style="margin-right: 5px; width: 50px" [src]="resultImage" alt="">
                    <span *ngIf="iconsShown">{{'menu.result' | translate}}</span>
                </a>
                <a routerLinkActive="active-link" mat-list-item matTooltip="{{'menu.accounting' | translate}}"  matTooltipPosition="after" class="nav_item" *ngIf="user.role === 'admin'" routerLink="/accounting">
<!--                    <span class="glyphicon glyphicon-equalizer"></span>-->
                    <img (error)="fixImage($event)" style="margin-right: 5px; width: 50px" [src]="accountingImage" alt="">
                    <span *ngIf="iconsShown">{{'menu.accounting' | translate}}</span>
                </a>
                <a routerLinkActive="active-link" mat-list-item matTooltip="{{'menu.settings' | translate}}"  matTooltipPosition="after" *ngIf="user.role === 'admin'" class="nav_item" routerLink="/settings">
<!--                    <span class="glyphicon glyphicon-cog"></span>-->
                    <img (error)="fixImage($event)" style="margin-right: 5px; width: 50px" [src]="settingsImage" alt="">
                    <span *ngIf="iconsShown">{{'menu.settings' | translate}}</span>
                </a>
                <br>
            </mat-nav-list>
            <p style="position: absolute; top: 0">v 1.0.30</p>
        </mat-sidenav>
        <mat-sidenav-content>
            <!-- <button mat-icon-button class="btnMenu" (click)="sidenav.toggle(); openCloseNavSide()">
              <mat-icon class="menuIcon" *ngIf="!isSideNavOpened">format_indent_increase</mat-icon>
              <mat-icon class="menuIcon" *ngIf="isSideNavOpened">format_indent_decrease</mat-icon>
            </button>
            <button mat-icon-button (click)="goBack()">
              <mat-icon>chevron_left</mat-icon>
            </button>
            <button mat-icon-button (click)="goForward()">
              <mat-icon>chevron_right</mat-icon>
            </button> -->
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <app-fab [buttons]="buttons" *ngIf="!isIntern && !isParent && !isInstructor"></app-fab>
<!--    <app-footer></app-footer>-->
</div>
