<h2>{{'payment_instructor.title'| translate}} - {{payment_instructor?.amount}} -</h2>
<mat-divider></mat-divider>
<mat-card>
    <app-loader *ngIf="block" [color]="color" [mode]="mode" [value]="value" [diameter]="48">
    </app-loader>
    <form [formGroup]="paymentForm">
        <div class="container">
            <button [disabled]="(paymentForm.invalid && instructorSelected)" class="pull-right save" (click)="onSave()" type="button" mat-button>
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
            <button class="pull-right cancel" type="button" (click)="onCancel()" mat-button>
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <mat-form-field>
                <input name="amount" type="number" (blur)="parseAmount($event.target.value)" formControlName="amount"
                       [ngModel]="payment_instructor.amount" matInput
                       placeholder="{{'payment_instructor.placeholder.amount' | translate}}" required autofocus>
                <span matSuffix>DA</span>
                <mat-error *ngIf="amount.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input name="date" formControlName="date" [(ngModel)]="payment_instructor.date" matInput
                       placeholder="{{'payment_instructor.placeholder.date' | translate}}" required [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
                <mat-error *ngIf="date.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input name="comment" formControlName="comment" [(ngModel)]="payment_instructor.comment" matInput
                       placeholder="{{'payment_instructor.placeholder.comment' | translate}}" >
                <mat-error *ngIf="comment.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field *ngIf="!isOnEdit" class="example-full-width">
                <input name="instructor" formControlName="instructor" matInput
                       (keyup)="instructorOnChange($event)" matInput [matAutocomplete]="auto"
                       placeholder="{{'payment_instructor.placeholder.instructor_id' | translate}}" required>
                <span matSuffix class="glyphicon glyphicon-search"></span>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)"
                                  (optionSelected)="instructorOnSelect($event.option.value)">
                    <mat-option *ngFor="let instructor of instructorsFiltered" [value]="instructor">
                        {{instructor.name}} <span style="color: red">{{instructor.sold}} DA</span>
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="instructor.invalid || !instructorSelected">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <div *ngIf="isOnEdit">
                <mat-label>{{'payment_instructor.placeholder.instructor_id' | translate}}</mat-label>
                <h4>{{instructorSelected.name}}</h4>
            </div>
        </div>
    </form>
</mat-card>