<h2>{{'accounting.title'| translate}}</h2>
<mat-divider></mat-divider>
<mat-card>
    <app-loader *ngIf="block" [color]="color" [mode]="mode" [value]="value" [diameter]="48">
    </app-loader>
    <div class="container">
        <button [disabled]="!instructorSelected || !month" class="pull-right save" (click)="result()" mat-button>
            <span class="glyphicon glyphicon-equalizer"></span>
        </button>
        <mat-form-field class="example-full-width">
            <input matInput
                   (keyup)="instructorOnChange($event)" matInput [matAutocomplete]="auto"
                   placeholder="{{'enrollment.placeholder.instructor_id' | translate}}">
            <span matSuffix class="glyphicon glyphicon-search"></span>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)"
                              (optionSelected)="instructorOnSelect($event.option.value)">
                <mat-option *ngFor="let instructor of instructorsFiltered" [value]="instructor">
                    {{instructor.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <br>
        <mat-form-field *ngIf="instructorSelected">
            <mat-select (selectionChange)="onMonthChange()" [(ngModel)]="month"
                        placeholder="{{'accounting.month' | translate}}">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let month of months" [value]="month">
                    {{'accounting.' + month | translate}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngFor="let session of sessions; let i = index">
        <span> <h3 style="float: left; margin-top: 20px">
            {{session.name + ' ' + session.training + ' '}} {{'training.' + session.type | translate}}: <span style="color: green">{{attendances[i] || 0 }} {{'attendance.title' | translate}}</span></h3>
        <mat-form-field style="width: 25%;
    margin: 0px 40px 0px 25px;">
          <input type="number" [(ngModel)]="classRate[i]" matInput
                 placeholder="{{'accounting.classRate' | translate}}">
          <span matSuffix>DA/Seance</span>
        </mat-form-field>
          <mat-form-field style="width: 25%;
    margin: 0px 40px 0px 25px;">
            <input type="number" [(ngModel)]="instructorRate[i]" matInput
                   placeholder="{{'accounting.instructorRate' | translate}}">
            <span matSuffix>%</span>
          </mat-form-field>
          <span></span>
        </span>
        </div>
        <h2 style="color: red">{{'accounting.salary' | translate}}: {{salary || 0}} DA</h2>
    </div>
</mat-card>

