<h2>{{'accounting.title'| translate}}</h2>
<mat-divider></mat-divider>
<!--<mat-card>-->
<!--    <app-loader *ngIf="block" [color]="color" [mode]="mode" [value]="value" [diameter]="48">-->
<!--    </app-loader>-->
<!--    <div class="container">-->
<!--        <button [disabled]="!instructorSelected || !month" class="pull-right save" (click)="result()" mat-button>-->
<!--            <span class="glyphicon glyphicon-equalizer"></span>-->
<!--        </button>-->
<!--        <mat-form-field class="example-full-width"  appearance="outline">-->
<!--            <mat-label>{{'enrollment.placeholder.instructor_id' | translate}}</mat-label>-->
<!--            <input matInput-->
<!--                   (keyup)="instructorOnChange($event)" matInput [matAutocomplete]="auto"-->
<!--                   >-->
<!--            <span matSuffix class="glyphicon glyphicon-search"></span>-->
<!--            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)"-->
<!--                              (optionSelected)="instructorOnSelect($event.option.value)">-->
<!--                <mat-option *ngFor="let instructor of instructorsFiltered" [value]="instructor">-->
<!--                    {{instructor.name}}-->
<!--                </mat-option>-->
<!--            </mat-autocomplete>-->
<!--        </mat-form-field>-->
<!--        <br>-->
<!--        <mat-form-field *ngIf="instructorSelected" appearance="outline">-->
<!--            <mat-label>{{'accounting.month' | translate}}</mat-label>-->
<!--            <mat-select (selectionChange)="onMonthChange()" [(ngModel)]="month"-->
<!--                        >-->
<!--                <mat-option>&#45;&#45;</mat-option>-->
<!--                <mat-option *ngFor="let month of months" [value]="month">-->
<!--                    {{'accounting.' + month | translate}}-->
<!--                </mat-option>-->
<!--            </mat-select>-->
<!--        </mat-form-field>-->
<!--        <div *ngFor="let session of sessions; let i = index">-->
<!--        <span> <h3 style="float: left; margin-top: 20px">-->
<!--            {{session.name + ' ' + session.training + ' '}} {{'training.' + session.type | translate}}: <span style="color: green">{{attendances[i] || 0 }} {{'attendance.title' | translate}}</span></h3>-->
<!--        <mat-form-field style="width: 25%;-->
<!--    margin: 0px 40px 0px 25px;" appearance="outline">-->
<!--            <mat-label>{{'accounting.classRate' | translate}}</mat-label>-->
<!--          <input type="number" [(ngModel)]="classRate[i]" matInput-->
<!--                 >-->
<!--          <span matSuffix>DA/Seance</span>-->
<!--        </mat-form-field>-->
<!--          <mat-form-field style="width: 25%;-->
<!--    margin: 0px 40px 0px 25px;" appearance="outline">-->
<!--            <mat-label>{{'accounting.instructorRate' | translate}}</mat-label>-->
<!--            <input type="number" [(ngModel)]="instructorRate[i]" matInput-->
<!--                   >-->
<!--            <span matSuffix>%</span>-->
<!--          </mat-form-field>-->
<!--          <span></span>-->
<!--        </span>-->
<!--        </div>-->
<!--        <h2 style="color: red">{{'accounting.salary' | translate}}: {{salary || 0}} DA</h2>-->
<!--    </div>-->
<!--</mat-card>-->
<mat-divider></mat-divider>
<mat-nav-list>
    <mat-nav-list><a mat-list-item routerLink="/accounting/report">
        <img (error)="fixImage($event)" style="margin-right: 5px; width: 40px; cursor: pointer;" [src]="reportImage" alt="">
        {{'accounting.report' | translate}}</a></mat-nav-list>
</mat-nav-list>

