<h2>{{'attendance.title'| translate}}</h2>
<mat-divider></mat-divider>
<mat-card>
    <app-loader *ngIf="block" [color]="color" [mode]="mode" [value]="value" [diameter]="48">
    </app-loader>
    <form [formGroup]="attendanceForm">
        <div class="container">
            <button [disabled]="attendanceForm.invalid || interns.length === 0" class="pull-right save" (click)="onSave()" type="button" mat-button>
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
            <button class="pull-right cancel" type="button" (click)="onCancel()" mat-button>
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
<!--            <mat-form-field appearance="outline">-->
<!--                <mat-label>{{'attendance.placeholder.session_id' | translate}}</mat-label>-->
<!--                <mat-select [(ngModel)]="attendance.session_id" (selectionChange)="onInternsChange()" formControlName="session_id"-->
<!--                            name="session_id" required [disabled]="isOnEdit">-->
<!--                    <mat-option>&#45;&#45;</mat-option>-->
<!--                    <mat-option *ngFor="let session of sessions" [value]="session.id">-->
<!--                        {{session.name + ' ' + session?.instructor + ' ' + session?.training + ' '}}-->
<!--                    </mat-option>-->
<!--                </mat-select>-->
<!--                <mat-error *ngIf="session_id.hasError('required')">{{'messages.field_required_error' | translate}}-->
<!--                </mat-error>-->
<!--            </mat-form-field>-->

            <mat-form-field appearance="outline">
                <mat-label>{{'attendance.placeholder.session_id' | translate}}</mat-label>
                <input formControlName="session_id" name="session_id" matInput [ngModel]="attendance.session_id"
                       (keyup)="sessionOnChange($event)" matInput [matAutocomplete]="auto1"
                       required [disabled]="isOnEdit">
                <span matSuffix class="glyphicon glyphicon-search"></span>
                <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn.bind(this)"
                                  (optionSelected)="sessionOnSelect($event.option.value)">
                    <mat-option *ngFor="let session of sessions" [value]="session.id">
                        {{session.name + ' ' + session.instructor + ' ' + session.training}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>{{'attendance.placeholder.day_id' | translate}}</mat-label>
                <mat-select (selectionChange)="onDaysChange()" formControlName="day_id" [(ngModel)]="day"
                             name="day_id" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let day of days" [value]="day">
                        {{'attendance.placeholder.'+ day | translate}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="day_id.hasError('required')">{{'messages.field_required_error' | translate}}
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>{{'attendance.placeholder.weekday_id' | translate}}</mat-label>
            <mat-select formControlName="weekday_id" [(ngModel)]="attendance.weekday_id"
                        name="weekday_id" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let weekday of weekdays" [value]="weekday['weekday_id']">
                    {{weekday?.time | translate}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="weekday_id.hasError('required')">{{'messages.field_required_error' | translate}}
            </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>{{'attendance.placeholder.date' | translate}}</mat-label>
                <input name="date" formControlName="date" [(ngModel)]="attendance.date" matInput
                       required [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker2></mat-datepicker>
                <mat-error *ngIf="date.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <h4  *ngIf="attendance.session_id && !isOnEdit">{{'attendance.placeholder.intern_id' | translate}}</h4>
        </div>
    </form>
    <div class="container" *ngIf="isOnEdit">
        <!--<mat-label>{{'attendance.placeholder.intern_id' | translate}}: <strong>{{internSelected.name}}</strong></mat-label>-->
        <br>
        <section class="example-section">
            <label style="display: block" class="example-margin">{{internSelected.name.toUpperCase()}}:</label>
            <mat-radio-group [(ngModel)]="attendance.present">
                <mat-radio-button class="example-margin" [value] = "1">{{'attendance.placeholder.present' | translate}}</mat-radio-button>
                <mat-radio-button class="example-margin" [value] = "0">{{'attendance.placeholder.absent' | translate}}</mat-radio-button>
                <mat-radio-button class="example-margin" [value] = "2">{{'attendance.placeholder.off' | translate}}</mat-radio-button>
            </mat-radio-group>
        </section>
    </div>
    <div class="container" *ngIf="attendance.session_id && !isOnEdit" class="container">
        <mat-card style="width:50%; height: 350px; overflow: auto">
            <h6 *ngIf="!interns.length">{{'messages.no_intern_registered' | translate}}</h6>
            <table align="left" style="float: right;" *ngFor="let intern of interns">
                <tr>
                <section class="example-section">
                    <td>
                    <label style="display: block" class="example-margin">{{intern.name.toUpperCase()}}:</label>
                    </td>
                    <mat-radio-group [(ngModel)]="intern.selected">
                        <td>
                        <mat-radio-button class="example-margin" [value]="1">{{'attendance.placeholder.present' | translate}}</mat-radio-button>
                        </td>
                        <td>
                        <mat-radio-button class="example-margin" [value]="0">{{'attendance.placeholder.absent' | translate}}</mat-radio-button>
                        </td>
                        <td>
                        <mat-radio-button class="example-margin" [value]="2">{{'attendance.placeholder.off' | translate}}</mat-radio-button>
                        </td>
                    </mat-radio-group>
                </section>
                </tr>
            </table>
        </mat-card>
    </div>
</mat-card>
