<app-loader *ngIf="block" [color]="color" [mode]="mode" [value]="value" [diameter]="48">
</app-loader>
<h2>{{'transport.title'| translate}}</h2>
<div style="display: flex; justify-content: center; font-size: 1.5rem; margin-top: 5%">
    <mat-form-field appearance="outline" style="margin-right: 10px">
        <mat-label>{{'transport.placeholder.day' | translate}}</mat-label>
        <mat-select (selectionChange)="onChange()" [(ngModel)]="day">
            <mat-option *ngFor="let d of days" [value]="d">
                {{'weekday.placeholder.' + d | translate}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin-left: 10px">
        <mat-label>{{'transport.placeholder.car' | translate}}</mat-label>
        <mat-select (selectionChange)="onChange()" [(ngModel)]="car">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let c of cars" [value]="c.id">
                {{c.name + ' ' + c.make + ' ' + c.seat}} {{'car.placeholder.seat' | translate}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin-left: 10px">
        <mat-label>{{'transport.placeholder.direction' | translate}}</mat-label>
        <mat-select (selectionChange)="onChange()" [(ngModel)]="direction">
            <mat-option>--</mat-option>
            <mat-option value="from"><span style="color: #2b7bff">&#8594; {{'transport.placeholder.from' | translate}}</span></mat-option>
            <mat-option value="to"><span style="color: #dc3545">{{'transport.placeholder.to' | translate}} &#8592;</span></mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="example-list">
    <mat-expansion-panel   [expanded]="!internDisplayed" (opened)="internDisplayed = false" style="border: solid; margin: 5px">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="glyphicon glyphicon-calendar"></span>
                {{'transport.title'  | translate}}
            </mat-panel-title>
        </mat-expansion-panel-header>
    <app-abstract-table [page]="'commuting'" (deleteAll)="ngOnInit()" (sortChange)="sortOnChange($event)"
                        (filter)="onFilter($event)" (pageChange)="onPageChange($event)" [setting]="setting"
                        [data]="data" (editRow)="onEditRow($event)"></app-abstract-table>
    </mat-expansion-panel>
    <br>
    <mat-expansion-panel *ngIf="internDisplayed"   [expanded]="internDisplayed" style="border: solid; margin: 5px">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="glyphicon glyphicon-user"></span>
                {{'intern.title' | translate}} - {{internData?.paging?.totalCount}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-abstract-table [page]="'intern'" [setting]="internSetting" (filter)="onFilterIntern($event)"
                            [data]="internData"></app-abstract-table>
    </mat-expansion-panel>
</div>
