<h2>{{'payments.title'| translate}} </h2>
<mat-divider></mat-divider>
<mat-nav-list>
  <mat-nav-list><a mat-list-item routerLink="/payments/intern">
    <img (error)="fixImage($event)" style="margin-right: 5px; width: 40px; cursor: pointer;" [src]="internImage" alt="">
    {{'payments.intern' | translate}}</a></mat-nav-list>
<!--  <mat-nav-list><a mat-list-item routerLink="/payments/instructors">-->
<!--    <img (error)="fixImage($event)" style="margin-right: 5px; width: 40px; cursor: pointer;" [src]="instructorImage" alt="">-->
<!--    {{'payments.instructor' | translate}}</a></mat-nav-list>-->
</mat-nav-list>

