<h2>{{'administration.user_management'| translate}} - {{user?.username}} -</h2>
<mat-divider></mat-divider>
<mat-card>
  <app-loader *ngIf="block" [color]="color" [mode]="mode" [value]="value" [diameter]="48">
  </app-loader>
  <form [formGroup]="userForm">
      <div class="container">
      <button [disabled]="userForm.invalid" class="pull-right save" (click)="onSave()" type="button" mat-button>
        <span class="glyphicon glyphicon-floppy-disk"></span>
      </button>
      <button class="pull-right cancel" type="button" (click)="onCancel()" mat-button>
          <span class="glyphicon glyphicon-remove"></span>
      </button>
      <mat-form-field>
        <input name="username" formControlName="username" [(ngModel)]="user.username" matInput placeholder="{{'user.placeholder.username' | translate}}" autofocus required>
        <mat-error *ngIf="username.invalid">{{'messages.field_required_error' | translate}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input name="name" formControlName="name" [(ngModel)]="user.name" matInput placeholder="{{'user.placeholder.name' | translate}}" required>
        <mat-error *ngIf="name.invalid">{{'messages.field_required_error' | translate}}</mat-error>
      </mat-form-field>
      <br>
          <mat-form-field>
              <input name="password" formControlName="password" [(ngModel)]="user.password" matInput placeholder="{{'user.placeholder.password' | translate}}" required>
              <mat-error *ngIf="password.invalid">{{'messages.field_required_error' | translate}}</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
              <mat-select formControlName="role" [(ngModel)]="user.role" placeholder="{{'user.placeholder.role' | translate}}" name="role" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let role of roles" [value]="role">
                      {{'user.' + role | translate}}
                  </mat-option>
              </mat-select>
              <mat-error *ngIf="role.hasError('required')">{{'messages.field_required_error' | translate}}</mat-error>
          </mat-form-field>

    </div>
  </form>
</mat-card>