<h2>{{'comment.title'| translate}} - {{data?.paging?.totalCount}} </h2>
<mat-divider></mat-divider>
<mat-card>
  <app-loader *ngIf="block" [color]="color" [mode]="mode" [value]="value" [diameter]="48">
  </app-loader>
  <app-abstract-table [page]="'comment'" (deleteAll)="ngOnInit()" (sortChange)="sortOnChange($event)" (filter)="onFilter($event)" (pageChange)="onPageChange($event)" [setting]="setting" [data]="data" (editRow)="onEditRow($event)" (deleteRow)="onRowDeleted($event)" (addRow)="onAddRow()"></app-abstract-table>
</mat-card>
