<h2>{{'instructor.title'| translate}} - {{instructor?.name}} -</h2>
<mat-divider></mat-divider>
<mat-card>
    <app-loader *ngIf="block" [color]="color" [mode]="mode" [value]="value" [diameter]="48">
    </app-loader>
    <form [formGroup]="internForm">
        <div class="container">
            <button *ngIf="!isInstructor" [disabled]="internForm.invalid" class="pull-right save" (click)="onSave()" type="button" mat-button>
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
            <button *ngIf="!isInstructor"  class="pull-right cancel" type="button" (click)="onCancel()" mat-button>
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
            <mat-form-field appearance="outline">
                <mat-label>{{'instructor.placeholder.name' | translate}}</mat-label>
                <input name="name" formControlName="name" [(ngModel)]="instructor.name" matInput (blur)="handleName($event.target.value)"
                       required autofocus>
                <mat-error *ngIf="name.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>{{'instructor.placeholder.address' | translate}}</mat-label>
                <input name="address" formControlName="address" [(ngModel)]="instructor.address" matInput
                       >
                <mat-error *ngIf="address.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>{{'instructor.placeholder.phone' | translate}}</mat-label>
                <input name="phone" formControlName="phone" type="number" [(ngModel)]="instructor.phone" (keyup)="phoneParse()" matInput
                       required>
                <span style="top: 0; margin-right: 5px" matPrefix>+213</span>
                <mat-error *ngIf="phone.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>{{'instructor.placeholder.email' | translate}}</mat-label>
                <input name="email" formControlName="email" [(ngModel)]="instructor.email" matInput
                       required>
                <mat-error *ngIf="email.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
<!--            <br>-->
            <mat-form-field appearance="outline" style="display: none">
                <mat-label>{{'instructor.placeholder.name_arabic' | translate}}</mat-label>
                <input name="name_arabic" formControlName="name_arabic" [(ngModel)]="instructor.name_arabic" matInput
                       >
                <mat-error *ngIf="name_arabic.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>{{'instructor.placeholder.sold' | translate}}</mat-label>
                <input name="sold" type="number" formControlName="sold" [(ngModel)]="instructor.sold" matInput
                       [disabled]="true">
                <span matSuffix>DA</span>
                <mat-error *ngIf="sold.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
        </div>
    </form>
    <div class="container">
        <mat-checkbox style="font-size: 1.5rem" [(ngModel)]="instructor.isFullTime">{{(instructor.isFullTime ? 'instructor.placeholder.fullTime' : 'instructor.placeholder.partTime') | translate}}</mat-checkbox>
    </div>
</mat-card>
