@import 'bootstrap-custom';
@import 'bootstrap';

$secondary: #007bff;
$primary: #007bff;
        //-webkit-linear-gradient(top, rgba(203,96,179,1) 0%,rgba(193,70,161,1) 50%,rgba(168,0,119,1) 51%,rgba(219,54,164,1) 100%);
//-webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%);
//-webkit-linear-gradient(top, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
//-webkit-linear-gradient(top, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
$save: #007bff;
        //-webkit-linear-gradient(top, rgba(155,206,84,1) 0%,rgba(100,186,42,1) 49%,rgba(56,168,0,1) 51%,rgba(119,198,45,1) 100%);
$cancel: red;
        //-webkit-linear-gradient(top, rgba(247,62,29,1) 0%,rgba(239,97,79,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(226,27,13,1) 100%);
$edit: orange;
        //-webkit-linear-gradient(top, rgba(237,130,142,1) 0%,rgba(210,75,90,1) 50%,rgba(186,39,55,1) 51%,rgba(239,98,112,1) 100%);
snack-bar-container.success{
    background-color: #49cc90;
    color: #FFFFFF;
}

snack-bar-container.error{
    background-color: #f93e3e;
    color: #FFFFFF;
}
html, body {
    height: 100%;
    margin: 0;
}

.save {
    background: $save;
}

.cancel {
    background: $cancel;
}

#notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.hidden {
    display: none;
}

.mat-form-field-outline {
    background: #f8f8f9;
}
