//.abs-center-x {
//  position: absolute;
//  left: 50%;
//  transform: translateX(-50%);
//  background-color: #126ff9;
//  color: #fff;
//}
@import "../../assets/sass/style";


*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}
body{margin:0px; padding:0px; font-family: 'Open Sans', sans-serif;}
section{width:100%; padding-left: 20px; display:table !important; position:relative;}
h1{margin:0px auto; display:table; font-size:26px; padding:40px 0px; color:#ffff; text-align:center;}
h1 span{font-weight:500;}

header{width:100%; display:table; background: black; padding: 5px 0}
#logo{float:left; font-size:24px; text-transform:uppercase; color:#ffff; font-weight:600; padding:10px 0px;}
nav{width:auto; float:right;}
nav ul{display:table; float:right; margin-bottom: 0;}
nav ul li{float:left;}
nav ul li:last-child{padding-right:0px;}
nav ul li p{color:#ffff; font-size:18px; margin: 0; padding: 10px 10px; cursor: pointer; display:inline-block; transition: all 0.5s ease 0s;}
nav ul li p:hover{background-color:#ffff; color:$secondary; transition: all 0.5s ease 0s;}
nav ul li p:hover i{color: $secondary; transition: all 0.5s ease 0s;}
nav ul li p i{padding-right:10px; color:#ffff; transition: all 0.5s ease 0s;}

.toggle-menu ul{display:table; width:25px;}
.toggle-menu ul li{width:100%; height:3px; background-color:#ffff; margin-bottom:4px;}
.toggle-menu ul li:last-child{margin-bottom:0px;}

input[type=checkbox], label{display:none;}

.content{display:table; margin-bottom:60px; width:900px;}
.content h2{font-size:18px; font-weight:500; color:#ffff; border-bottom:1px solid $primary; display:table; padding-bottom:10px; margin-bottom:10px;}
.content p{font-size:14px; line-height:22px; color:#7c7c7c; text-align:justify;}

footer{display:table; padding-bottom:30px; width:100%;}
.social{margin:0px auto; display:table; display:table;}
.social li{float:left; padding:0px 10px;}
.social li a{color:#ffff; transition: all 0.5s ease 0s;}
.social li a:hover{color: $secondary; transition: all 0.5s ease 0s;}

@media only screen and (max-width: 1440px) {
  section{max-width:95%;}
}

@media only screen and (max-width: 980px) {
  header{padding:20px 0px;}
  #logo{padding:0px;}
  input[type=checkbox] {position: absolute; top: -9999px; left: -9999px; background:none;}
  input[type=checkbox]:focus{background:none;}
  label {float:right; padding:8px 0px; display:inline-block; cursor:pointer; }


  nav{display:none; position:absolute; right:0px; top:53px; background-color:#ffff; padding:0px; z-index:99;}
  nav ul{width:auto;}
  nav ul li{float:none; padding:0px; width:100%; display:table;}
  nav ul li p{color:#FFF; margin: 0; font-size:15px; cursor: pointer; padding:10px 20px; display:block; border-bottom: 1px solid rgba(225,225,225,0.1);}
  nav ul li p i{color:$primary; padding-right:13px;}
  nav ul li p:focus{color: #ffff};
}

@media only screen and (max-width: 980px) {
  .content{width:90%;}
}

@media only screen and (max-width: 568px) {
  h1{padding:25px 0px;}
  h1 span{display:block;}
}

@media only screen and (max-width: 480px) {
  section {max-width: 90%;}
}

@media only screen and (max-width: 360px) {
  h1{font-size:20px;}
  label{padding:5px 0px;}
  #logo{font-size: 20px;}
  nav{top:47px;}
}

@media only screen and (max-width: 320px) {
  h1 {padding: 20px 0px;}
}

.glyphicon.glyphicon {
  margin-right: 10px;
}

.list {
  cursor: pointer;
}
