<h2>{{'instructor.title'| translate}} - {{instructor?.name}} -</h2>
<mat-divider></mat-divider>
<mat-card>
    <app-loader *ngIf="block" [color]="color" [mode]="mode" [value]="value" [diameter]="48">
    </app-loader>
    <form [formGroup]="internForm">
        <div class="container">
            <button *ngIf="!isInstructor" [disabled]="internForm.invalid" class="pull-right save" (click)="onSave()" type="button" mat-button>
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
            <button *ngIf="!isInstructor"  class="pull-right cancel" type="button" (click)="onCancel()" mat-button>
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <mat-form-field>
                <input name="name" formControlName="name" [(ngModel)]="instructor.name" matInput
                       placeholder="{{'instructor.placeholder.name' | translate}}" required autofocus>
                <mat-error *ngIf="name.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input name="address" formControlName="address" [(ngModel)]="instructor.address" matInput
                       placeholder="{{'instructor.placeholder.address' | translate}}">
                <mat-error *ngIf="address.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input name="phone" formControlName="phone" type="number" [(ngModel)]="instructor.phone" (keyup)="phoneParse()" (blur)="onPhoneChanged()" matInput
                       placeholder="{{'instructor.placeholder.phone' | translate}}" required>
                <span matPrefix>+213</span>
                <mat-error *ngIf="phone.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input name="email" formControlName="email" [(ngModel)]="instructor.email" matInput
                       placeholder="{{'instructor.placeholder.email' | translate}}" required>
                <mat-error *ngIf="email.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input name="name_arabic" formControlName="name_arabic" [(ngModel)]="instructor.name_arabic" matInput
                       placeholder="{{'instructor.placeholder.name_arabic' | translate}}">
                <mat-error *ngIf="name_arabic.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input name="sold" type="number" formControlName="sold" [(ngModel)]="instructor.sold" matInput
                       placeholder="{{'instructor.placeholder.sold' | translate}}" [disabled]="!isAdmin">
                <span matSuffix>DA</span>
                <mat-error *ngIf="sold.invalid">{{'messages.field_required_error' | translate}}</mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-card>
