<h2>{{'transportation.title'| translate}} - <img (error)="fixImage($event)" style="margin-right: 5px; width: 40px; cursor: pointer;" (click)="goBack()" [src]="backImage" alt=""> </h2>
<mat-divider></mat-divider>
<mat-nav-list>
  <mat-nav-list><a mat-list-item routerLink="/transportation/car">
    <img (error)="fixImage($event)" style="margin-right: 5px; width: 40px; cursor: pointer;" [src]="busImage" alt="">
    {{'transportation.car' | translate}}</a></mat-nav-list>
  <mat-nav-list><a mat-list-item routerLink="/transportation/program">
    <img (error)="fixImage($event)" style="margin-right: 5px; width: 40px; cursor: pointer;" [src]="busTimeImage" alt="">
    {{'transportation.program' | translate}}</a></mat-nav-list>
</mat-nav-list>

