.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.register_search {
  width: 30% !important;
  font-size: 14px;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}
