<div class="spinner">
    <div class="container">
        <div class="row">
            <br/>
            <div class="col text-center">
                <img src="{{logo}}"/>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <div class="counter">
                    <span class="glyphicon glyphicon-user fa-2x"></span>
                    <h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
                    <p class="count">{{interns}}</p>
                    <p class="count-text">{{'menu.intern' | translate}}</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <span class="glyphicon glyphicon-briefcase fa-2x"></span>
                    <h2 class="timer count-title count-number" data-to="1700" data-speed="1500"></h2>
                    <p class="count">{{instructor}}</p>
                    <p class="count-text">{{'menu.instructor' | translate}}</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <span class="glyphicon glyphicon-th fa-2x"></span>
                    <h2 class="timer count-title count-number" data-to="11900" data-speed="1500"></h2>
                    <p class="count">{{sessions}}</p>
                    <p class="count-text">{{'menu.session' | translate}}</p>
                </div></div>
            <div class="col">
                <div class="counter">
                    <span class="glyphicon glyphicon-education fa-2x"></span>
                    <h2 class="timer count-title count-number" data-to="157" data-speed="1500"></h2>
                    <p class="count">{{trainings}}</p>
                    <p class="count-text">{{'menu.training' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <app-loader *ngIf="block" [color]="color" [mode]="mode" [value]="value" [diameter]="48">
    </app-loader>
    <br>
    <div class="schedule">
        <div class="col text-center">
            <h2>{{'weekday.title' | translate}} {{'weekday.placeholder.' + toDay() | translate}}</h2>
        </div>
    <mat-card>
        <app-abstract-table   [setting]="setting" [data]="data"></app-abstract-table>
    </mat-card>
    </div>
</div>